body{
    background-image: url("hatter.png");
    background-color: black;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

#elso{
    border-radius: 10px 0px 0px 0px;
}
#masodik{
    float: right;
    border-radius: 0px 10px 0px 0px;
}
#harmadik{
    clear: both;
    border-radius: 0px 0px 0px 10px;
}
#negyedik{
    margin-bottom: 0px;
    float: right;
    border-radius: 0px 0px 10px 0px;
}

.test{
    border: 1px solid red;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
    text-align: center;
    color: white;
    padding-top: 5px;
    box-sizing: border-box;
}

.penz{
    border: 1px solid red;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
    text-align: center;
    color: white;
    padding-top: 5px;
    box-sizing: border-box;
}

#vegeSzoveg{
    color: white;
    font-size: 18px;
}

#nyeremeny{
    height: 500px;
    float:left;
    width: calc(50% - 340px);
    margin-right: 20px;
}

#helyzet{
    height: 500px;
    width: calc(50% - 360px);
    float: left;
    margin-left: 20px;
}

#helyzetBlokk{
    float: left;
    width: 180px;
    background-color: rgba(90,66,106,0.8);
    border-radius: 30px;
    height: 470px;
}

#nyeremenyBlokk{
    float: right;
    width: 180px;
    background-color: rgba(90,66,106,0.8);
    border-radius: 30px;
    height: 470px;
}

#valaszok{
    height: 200px;
    width: 560px;
    background-color: rgba(90,66,106,0.8);
    padding: 20px 40px 60px 40px;
    border-radius: 30px;
    float: left;
    text-align: center;
    margin-top: 190px;
}

#valaszok p{
    padding-top: 6px;
}

#kerdes{
    margin: 0 auto;
    width: auto;
}

#kerdes p{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
}

#eltolo {
    width: 100%;
    height: 100px;
}

#ujra{
    height: 100px;
    width: 100px;
    background-color: #C0C0C0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 40px;
    box-sizing: border-box;
}

.valasz{
    width: 40%;
    height: 60px;
    float: left;
    margin-bottom: 40px;
    background-color: #C0C0C0;
    padding-top: 19px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1100px){
    #nyeremeny{
        display: none;
    }
    #valaszok{
        float: left;
    }
    #main{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 880px){
    #helyzet{
        display: none;
    }
    #valaszok{
        width: 87%;
        margin-right: 0px;
    }
    .valasz{
        width: 250px;
    }
    #main{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 630px){
    .valasz{
        width: 100%;
    }
    #valaszok{
        height: 410px;
    }
    #elso{
        border-radius: 10px 10px 0px 0px;
    }
    #masodik{
        border-radius: 0px;
        clear: both;
        float: left;
    }
    #harmadik{
        border-radius: 0px;
    }
    #negyedik{
        border-radius: 0px 0px 10px 10px;
        clear: both;
        float: left;
    }
}
